{% extends "base.html" %}


{% block title %}
{{ product.name }} — cardiac.exe
{% endblock %}


{% block content %}

<section class="product-detail">

    <div class="detail-image">

        {% if product.image %}

            <img
                src="{{ url_for(
                    'static',
                    filename='images/' + product.image
                ) }}"
                alt="{{ product.name }}"
            >

        {% else %}

            <span>
                CARD
            </span>

        {% endif %}

    </div>


    <div class="detail-info">

        <p class="eyebrow">
            CARD
        </p>

        <h1>
            {{ product.name }}
        </h1>

        <p class="detail-price">
            ₹{{ product.price }}
        </p>

        <p class="description">
            {{ product.description }}
        </p>


        {% if product.stock > 0 %}

            <p>
                In stock: {{ product.stock }}
            </p>
<a
    href="{{ url_for(
        'add_to_cart',
        product_id=product.id
    ) }}"
    class="button"
>
    ADD TO CART
</a>

        {% else %}

            <p>
                SOLD OUT
            </p>

        {% endif %}

    </div>

</section>

{% endblock %}